.pizza_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
 
  padding: 15px;

@media(min-width:768px){
  // width:100%;
  // height:100%;
}
}


.pizza_caption{
  font-size: 40px;
  margin-bottom: 20px;
}
.pizza_wrap{
  display: flex;
  flex-direction: column;
  @media(min-width:1200px){
    flex-direction: row;
  }

}
.pizza_img{
  width: 100%;
  border-radius: 15px;
  @media(min-width:1200px){
    width: 50%;
    margin-right: 30px;
  }
}
.pizza_info{
 display: flex;
 flex-direction: column;
 align-items: center; 
 @media(min-width:1200px){
  margin-top: 30px;
 }
}
.pizza_title{
  font-size: 35px;
  margin: 20px 0;
}


.pizza_icon{
  margin-bottom: 20px;
}
.icon_list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;


}

.icon_item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60px;
  margin:15px
  // padding: 8px;
  // &:not(:last-child){margin-right: 15px;}
}

  .icon_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid #060606;
    background-color:rgb(255, 255, 255);
  }
    .icon_btn.active{
    border: 1px solid #6c0909;
    }
  .icon_img{
    width: 80%;
  }

  .size_list{
    display: flex;

  }
  .pizza_size{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .size_item{
height: 50px;
width: 50px;
display: flex;
justify-content: center;
align-items: center;

    &:not(:last-child){
      margin-right: 20px;
    }
  }
  .size_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
      height: 100%;
      border-radius: 25px;
      border: 1px solid #060606;
      background-color: rgb(255, 255, 255);
  }
  .pizza_price{
    font-size: 30px;
  }